@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=IM+Fell+DW+Pica&family=Manrope:wght@200;300&family=Roboto:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-family: 'Roboto', sans-serif; 
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    padding: 0 16px;
    position: sticky;
    top: 0;
    background: white;
}

.navbar .logo {
    display: flex;
    align-items: center;
    margin-left: 8px;
}

.logo img {
    width: 100px;
    margin-left: 10px;
}

.navbar .searchbar {
    display: flex;
    align-items: center;
    /* margin-right: 25px; */
}

.search {
    display: flex;
    border: 1px solid #cccccc;
    width: 540px;
    height: 40px;
    margin-right: 10px;
}

.search input {
    border: none;
    width: 90%;
    padding-left: 5px;
}

.search button {
    border: none;
    border-left: 1px solid #cccccc;
    width: 10%;
}

.search button i {
    margin: 0;
}

.material-icons {
    color: #494949e5;
    margin-right: 10px;
} 

.mainbody {
    height: calc(100vh - 56px);
    display: flex;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.categories {
    width: 240px;
    height: 100%;
    background: white;
    overflow-y: scroll;
}

.category-section {
    border-bottom: 1px solid #cccccc;
    margin-top: 15px;    
}

.category-section .category:last-child {
    margin-bottom: 15px;    
}

.category_heading {
    margin: 10px 0px 10px 25px;
    font-size: 16px;
    font-weight: 500;
}

.category {
    width: 100%;
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 24px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}

.category:hover {
    background: #f9f9f9;
}

.active {
    background: #f1f0f0;
    font-size: 500;
}

.active:hover {
    background: #d0d0d0;
}

.category i {
    margin-right: 24px;
}

.cagories-footer {
    padding: 25px;
}

.footer-section {
    margin-bottom: 12px;
}

.footer-section span {
    font-size: 13px;
    font-weight: 500;
    margin-right: 5px;
    color: #616161;
    cursor: pointer;
}

.copyright {
    color: #616161c7;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: px;
}

.videos {
    width: calc(100vw - 240px);
    height: 100%;
    background: white;
    border-top: 1px solid #696969;
    overflow-y: scroll;
}

.video-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
}

.video {
    width: 30%;
    margin-right: 36px;
    cursor: pointer;
    margin-bottom: 35px;
}

.video .thumbnail img {
    width: 100%;
}

.videos .details {
    display: flex;
    margin-top: 5px;
    width: 90%;
}

.video .profile {
    margin-right: 12px;
}

.video .profile img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
}

.video .video-details p {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

.video .posted-by {
    font-size: 14px;
    font-weight: 500;
    color: #616161;
}